# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv*/
.env

# Project specific
*.xlsx
*.xls
*.pdf
backup/
demo/
Release-*/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db 